.footer {
	background: rgba($dark, 0.8);
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1rem 0;
	width: 100vw;

	@include tablet {
		position: relative;
		transform: translate(-1rem, 1rem);
	}

	&__contact-data {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		max-width: fit-content;

		@include tablet {
			border: none;
			flex-direction: column;
			margin: 1rem 0;
			max-width: 100%;
		}

		p {
			padding: 0.25rem 0.5rem;
			font-size: 0.8rem;
			margin: 0;
			border-right: 1px solid $primary-light;

			@include tablet {
				border-right: none;
				border-bottom: 1px solid $primary-light;
				padding: 1rem;
			}

			&:last-child {
				border: none;
			}

			a {
				color: #fff;
				text-decoration: none;
				text-underline-position: under;

				@include tablet {
					text-decoration: none;
				}

				&:hover {
					text-decoration: underline;
					color: $primary-light;
				}
			}
		}
	}

	&__copy {
		display: none;
		font-size: 0.7rem;
		font-weight: bold;
		color: $primary;
		text-align: center;
	}
}
