.header {
	display: grid;
	gap: 1rem;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr;
	height: 100%;
	margin: auto;
	position: relative;
	width: 100%;

	&__left {
		display: flex;
		flex-direction: column;

		&__logo {
			grid-area: logo;
			margin: auto 2rem 1rem auto;
			width: 100px;
			//opacity: 0;

			img {
				width: 100%;
			}
		}

		&__lead {
			margin: 2rem 2rem 0 auto;
			text-align: right;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

			h2 {
				color: darken($grey, 20%);
				margin: 0 0 1rem;
				max-width: 600px;
				text-transform: uppercase;
				letter-spacing: 0.1rem;
			}

			h3 {
				color: $grey;
				margin: 0 0 1rem;
				max-width: 600px;
			}
		}

		&__cta {
			background: linear-gradient(45deg, $primary-light, $primary);
			border-radius: 3px;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			margin: 2rem 2rem auto auto;
			padding: 0.5rem 1rem;
			text-align: center;
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.feat {
			font-size: 3.7rem;
			color: $primary;
			//text-shadow: 3px 0 0 $primary;
			font-weight: bold;
			margin: 0;
			text-transform: uppercase;
			letter-spacing: 0.05rem;
			mix-blend-mode: multiply;
			opacity: 1;

			&:before {
				display: inline-block;
				content: '';
				background-color: $dark;
				width: 15px;
				height: 15px;
				margin: 0 0.5rem 0 0;
			}
			//text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
		}
	}
}
